.discord-sidebar-container {
	width: 75px;
	background-color: #2c2f33;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100vh;
}

.discord-home-button {
	width: 50px;
	height: 50px;
	background-color: #7289da;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
}