html, body {
	font-family: "Gill Sans Extrabold", sans-serif;
}

:root {
	--bg-color: #2D3131;
	--purple-600: #6D6174;
	--purple-500: #7A6F81;
	--purple-400: #867C8C;
	--purple-300: #918896;
	--purple-200: #9B93A0;
	--purple-100: #A49DA9;
}

.background-box {
	background-color: var(--bg-color);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	color: var(--purple-100);
}